@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CloudGenius Demo Project <br>Created by Cloudgenius on 5-7-2023, Jesus be praised.</br> <br>Contact us on +1 647 677 6247 </br></h1>
    <p>To Learn about <a href="https://cloudgeniustraining.com/">Azure Devops, 100% Hands-On</a>.</p>
</div>